<div class="col-md-offset-1 col-xs-4 flyers-big-top-margin">
    <h3>Erwachsenen</h3>
</div>
<div class="col-xs-2 photo-group">
    <a id='adults-first-btn' href="#fakelink">
        <img class="img-circle flyers-img-menu photo" src="img/specials.jpg"/>
        <span id='adults-first-label' class="photo-label">Inline</span>
    </a>
</div>
<div class="col-xs-2  photo-group">
    <a id='adults-second-btn' href="#fakelink">
        <img class="img-circle flyers-img-menu photo" src="img/s01.png"/>
        <span id='adults-second-label' class="photo-label">Inline</span>
    </a>
</div>
<div class="col-xs-2 photo-group">
    <a id='adults-third-btn' href="#fakelink">
        <img class="img-circle flyers-img-menu photo" src="img/s02.png"/>
        <span id='adults-third-label' class="photo-label">Inline</span>
    </a>
</div>
<div class="col-xs-12 flyers-main-info">
    <p class="lead">
        Freizeitsportangebot in einem professionellen Rahmen für jeden, der Lust an Bewegung hat!

    </p>
</div>
