<div id="children-summer" class="fade in">
    <div class="col-xs-offset-1 col-xs-9 flyers-big-top-margin" style="border-top: 1px solid rgba(255,255,255,0.3);">
        <h6>Mädchen und Buben ab 3 Jahren</h6>
    </div>
    <div class="col-xs-2  flyers-big-top-margin" style="margin-left: auto;">
        <a id='close-children-summer-btn' href="#fakelink" class="fa fa-times-circle fa-lg"
           style="color: rgb(255,255,255);"/>
    </div>
    <div class="col-xs-offset-2 col-xs-10">
        <p class="lead">
            von 5. April - 2. August 2014
        </p>
    </div>
    <div class="col-xs-12">
        <p class="lead" style="font-weight: 800;">Inline-Skaten</p>

        <p class="text-justify">
            jeweils am Montag/Dienstag/Mittwoch 16:30 - 18:30 Uhr
        </p>

        <p class="text-justify">
            gegenüber CITYPARK Graz, Lazarettenguürtel 65 / Ecke Hohenstaufengasse 2
        </p>

        <!-- 10er block -->
        <div class="col-xs-4"><span style="font-size: large;">10er Block (10 Einheiten)</div>
        <div class="col-xs-offset-1 col-xs-2"><b>€ 98,-</b></div>

    </div>
    <div class="col-xs-12" style="margin-top: 30px; margin-bottom: 20px;">
        <p class="lead" style="font-weight: 800;">Stunt-Skaten</p>

        <p class="text-justify">
            Xciting Funhall - jeden Samstag </p>

        <p class="text-justify">
            u.a. Locations - individuelle Termine
        </p>

        <!-- 10er block & einzeleinheit -->
        <div class="col-xs-4"><span style="font-size: large;">10er Block (10 Einheiten)</div>
        <div class="col-xs-offset-1 col-xs-2"><b>€ 128,-</b></div>
        <br/>

        <div class="col-xs-4"><span style="font-size: large;">Einzeleinheit (1 Einheit)</div>
        <div class="col-xs-offset-1 col-xs-2"><b>€ 15,-</b></div>
    </div>

    <div class="col-xs-offset-1 col-xs-4">
        <a id='children-summer-signup-btn' target="_blank"
           href="https://docs.google.com/forms/d/1WFxGHdX9LZCKGIjVXmmm0v95MgpmkudHMGAU-Y_KNnY/viewform"
           class="btn btn-block btn-lg btn-children"><span
                class="fa fa-thumbs-o-up fa-lg"/> &nbsp; Anmeldung</a>
    </div>
    <div class="col-xs-1 text-right"><span class="fa fa-info-circle fa-lg"/></div>
    <div class="col-xs-6">
        <span style="font-size: small; font-weight: 800; font-style: italic; color: rgb(255,0,0);">
            Anmeldung und Kurseinstieg jederzeit möglich (Bitte um telefonische Voranmeldung)!
        </span>
    </div>
    <div class="col-xs-12" style="border-bottom: 1px solid rgba(255,255,255,0.3);"/>
    <div id="children-summer-mission" class="col-xs-12 flyers-big-top-margin">
        <div class="col-xs-1"><span class="second-icon fui-checkbox-checked"/>
        </div>
        <div class="col-xs-11">
            <p class="text-justify">
                Modernste Ausbildungstechniken im Bereich Inlineskaten. Praktische und theoretische Ausbildungsteile im
                Stunt-
                und Speedskaten. Leistungsorientierter Unterricht, viel Spaß und Action.
            </p>
        </div>
        <div class="col-xs-1"><span class="second-icon fui-checkbox-checked"/>
        </div>
        <div class="col-xs-11">
            <p class="text-justify">
                Am Beginn des Kurses werden die Kinder in Leistungsgruppen von Anfänger bis Fortgeschrittene eingeteilt.
            </p>
        </div>
        <div class="col-xs-1"><span class="second-icon fui-checkbox-checked"/>
        </div>
        <div class="col-xs-11">
            <p class="text-justify">
                Die zunächst kippeligen Inlineskates fordern das Gleichgewicht Ihres Kindes besonders heraus. Neben Spaß
                und
                Sicherheit auf Rollen lernen die Kinder verschiedene Brems- und Kurventechniken.
            </p>
        </div>
        <div class="col-xs-1"><span class="second-icon fui-checkbox-checked"/>
        </div>
        <div class="col-xs-11">
            <p class="text-justify">
                In der Leistungsgruppe für Fortgeschrittene werden Grundelemente des Stunt- und Speedskatens
                fachmännisch
                vermittelt.
            </p>
        </div>
    </div>
    <div id="myCarousel" class="carousel slide col-xs-12 flyers-big-top-margin"
         style="border-top: 1px solid rgba(255,255,255,0.3);" data-ride="carousel">
        <!-- Indicators -->
        <ol class="carousel-indicators">
            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
            <li data-target="#myCarousel" data-slide-to="1" class=""></li>
            <li data-target="#myCarousel" data-slide-to="2" class=""></li>
            <li data-target="#myCarousel" data-slide-to="3" class=""></li>
            <li data-target="#myCarousel" data-slide-to="4" class=""></li>
            <li data-target="#myCarousel" data-slide-to="5" class=""></li>
            <li data-target="#myCarousel" data-slide-to="6" class=""></li>
            <li data-target="#myCarousel" data-slide-to="7" class=""></li>
            <li data-target="#myCarousel" data-slide-to="8" class=""></li>
            <li data-target="#myCarousel" data-slide-to="9" class=""></li>
            <li data-target="#myCarousel" data-slide-to="10" class=""></li>

        </ol>
        <div class="carousel-inner">
            <div class="item active">
                <img class="carousel-photo" data-src="holder.js/400x500/auto/#777:#7a7a7a/text:First slide"
                     alt="2013_01"
                     src="img/summer-children/2013_01.jpg">
            </div>
            <div class="item">
                <img class="carousel-photo" data-src="holder.js/400x500/auto/#777:#7a7a7a/text:First slide"
                     alt="2013_02"
                     src="img/summer-children/2013_02.jpg">
            </div>
            <div class="item">
                <img class="carousel-photo" data-src="holder.js/400x500/auto/#777:#7a7a7a/text:First slide"
                     alt="2013_03"
                     src="img/summer-children/2013_03.jpg">
            </div>
            <div class="item">
                <img class="carousel-photo" data-src="holder.js/400x500/auto/#777:#7a7a7a/text:First slide"
                     alt="2013_04"
                     src="img/summer-children/2013_04.jpg">
            </div>
            <div class="item">
                <img class="carousel-photo" data-src="holder.js/400x500/auto/#777:#7a7a7a/text:First slide"
                     alt="2013_05"
                     src="img/summer-children/2013_05.jpg">
            </div>
            <div class="item">
                <img class="carousel-photo" data-src="holder.js/400x500/auto/#777:#7a7a7a/text:First slide"
                     alt="2013_06"
                     src="img/summer-children/2013_06.jpg">
            </div>
            <div class="item">
                <img class="carousel-photo" data-src="holder.js/400x500/auto/#777:#7a7a7a/text:First slide"
                     alt="2013_07"
                     src="img/summer-children/2013_07.jpg">
            </div>
            <div class="item">
                <img class="carousel-photo" data-src="holder.js/400x500/auto/#777:#7a7a7a/text:First slide"
                     alt="2013_08"
                     src="img/summer-children/2013_08.jpg">
            </div>
            <div class="item">
                <img class="carousel-photo" data-src="holder.js/400x500/auto/#777:#7a7a7a/text:First slide"
                     alt="2013_09"
                     src="img/summer-children/2013_09.jpg">
            </div>
            <div class="item">
                <img class="carousel-photo" data-src="holder.js/400x500/auto/#777:#7a7a7a/text:First slide"
                     alt="2013_10"
                     src="img/summer-children/2013_10.jpg">
            </div>

        </div>
        <a class="left carousel-control" href="#myCarousel" data-slide="prev"><span
                class="glyphicon glyphicon-chevron-left"></span></a>
        <a class="right carousel-control" href="#myCarousel" data-slide="next"><span
                class="glyphicon glyphicon-chevron-right"></span></a>
    </div>
</div>
<script type="text/javascript">
    $(function () {
        $('.carousel').carousel({
            interval: 4000
        });
    });

    $('#close-children-summer-btn').on('click', function (e) {
        e.preventDefault();
        $('#children-container').load('partials/children.html');
    });
</script>