<div class="row" class="flyers-content-container">
    <div class="col-md-11 col-xs-11">
        <h3>Inline- und Stuntskate videos</h3>
    </div>
    <div class=" col-md-1 col-xs-1" style="text-align: right;">
        <a id="close-youtube-btn" href="#fakelink"
           class="fa fa-times-circle fa-lg"></a>
    </div>
</div>
<div class="col-md-3 ">
    <a href="http://youtu.be/-YNui_7qs0c" target="_blank"><img class="img-rounded img-thumbnail"
                                                               alt=""
                                                               src="http://files.grazerflyers.at/200000234-567f858737/Video Stunt FH.jpg"
                                                               style="max-height: 161;"></a>
</div>
<div class="col-md-offset-1 col-md-3 ">
    <a href="http://youtu.be/vsK551OlsvE" target="_blank"><img class="img-rounded img-thumbnail"
                                                               alt=""
                                                               src="http://files.grazerflyers.at/200000233-19fe11bf29/Video Stunt FH Flieger.jpg"
                                                               style="max-height: 161;"></a>
</div>
<div class="col-md-offset-1 col-md-3 ">
    <a href="http://youtu.be/86AMrfRO1ec" target="_blank"><img alt=""
                                                               class="img-rounded img-thumbnail"
                                                               src="http://files.grazerflyers.at/200000172-45665465ef/Grazer Flyers-Fortgeschrittene.jpg"
                                                               style="max-height: 161;"></a>
</div>
<div class="col-md-11 col-xs-11" style="margin-top: 15px;"></div>
<div class="col-md-3">
    <a href="http://youtu.be/0YllN9U9VKg" target="_blank"><img alt=""
                                                               class="img-rouded img-thumbnail "
                                                               style="max-height: 161;"
                                                               src="http://files.grazerflyers.at/200000171-15ae316a8c/Grazer Flyers-Anfänger.jpg"></a>
</div>
<div class="col-md-offset-1 col-md-3">
    <a href="http://youtu.be/3hxHR7QcQ-w" target="_blank"><img alt=""
                                                               class="img-rouded img-thumbnail"
                                                               style="max-height: 161;"
                                                               src="http://files.grazerflyers.at/200000173-2418d2603c/Grazer Flyers-Stunt Pool.jpg"></a>
</div>
<div class="col-md-offset-1 col-md-3">
    <a href="http://youtu.be/rvaGfeqYo9U" target="_blank"><img alt=""
                                                               class="img-rouded img-thumbnail"
                                                               src="http://files.grazerflyers.at/200000174-23e5224e4e/Grazer Flyers-Zauberklasse.jpg"
                                                               style="max-height: 161;"></a>
</div>
<div class="col-md-11 col-xs-11" style="margin-top: 15px;"></div>

<script type="text/javascript">
    $('#close-youtube-btn').on('click', function () {
        $('#main-content').css('display', 'block');
        $('#youtube-video-container').css('display', 'none');
    });
</script>